h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; 
}

nav{
  text-align: center;
  padding: 0 10%!important;
}

.navbar-nav {
  margin-left: 10%!important;
}

.navbar-nav a {
  font-family: 'Amatic SC', cursive;
  font-size: 45px !important;
  color: #fff!important
}

.navbar-brand a {
  font-family: 'Amatic SC', cursive;
  font-size: 45px !important;
  color: #fff!important
}

nav ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 5px 5px;
}

nav a {
  font-weight: bold;
  padding: 10px 5px;
}

.collapse ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 90%;
  margin: 0 0 0 20%;
  padding: 0;
    
}

 a nav-link {
     width: 100%;
     margin: 0;
 }


