/*Colors in project*/

/*Orange -- #DB481C*/
/*Dark -- #343a40*/
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; 
}

body {
  width: 100%;
  margin: 0 auto;
}

.label {
  font-family: 'Amatic SC', cursive;
  font-size: 4em !important;
  margin-bottom: 10px !important;
  text-align: center !important;
}


button{
  height: 45px;
  width: 100px;
  background-color: #343a40;
  color: #fff!important;
  font-size:12px!important;
  border-radius: 10px!important;
}

.header-div {
  width: 100%;
  text-align: center;
}


ul > li {
  width: 100%;
  margin: 0 4em ;
}

.nav-link {
  margin-left: 100px;
}

.hero-picture {
  width: 100%;
  border-radius: 20px;
  border: 3px solid #343a40;
}

.landing-snippet {
  width: 100%;
}

.headings {
  color: #DB481C;
  font-size: 6em;
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
  margin: .3em 0;
}

.line-break {
	border-top: 2px solid #343a40;
	width: 70%;
}


.pizzeria-pic {
  width: 100%;
  border-radius: 10px;
}

.pizzeria-info {
  margin: 5em 0;
}

.blurbs {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color:#343a40;
  margin: 8% 0;
}

#pizza-info {
  color: #DB481C;
  width: 100%;
  font-size: 4em;
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
  margin: .3em 0;
}

.hours {
  text-align: center;
}

.map {
  height: 200px;
  width: 200px;
}

.table-headings {
  color: #DB481C;
  font-size: 2em;
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
  margin: .3em 0;
}

.table-subheadings {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color:#343a40;
  font-weight: bold;
}

.ingredient-table {
  width: 100% ;
}

.table-title {
  text-align: left;
}

.table-price {
  text-align: center;
}

/*table, th, td {*/
/*    border: 1px solid black;*/
/*}*/
.pizza-row {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color:#343a40;
  height: 30px;
 }
 
 td {
   padding: 20px !important;
 }
 th {
   padding: 20px !important;
 }
 
 .admin-table > tr > th,
 .admin-table > tr > td {
   border: 2px solid black;
 }
 
 .footer {
   height: 200px;
   width: 100%;
 }
 
ul {
  list-style-type: none;
}

.checkboxOne {
    width: 40px;
    height: 20px;
    background: #343a40;
    margin: 20px 80px;
    position: relative;
    border-radius: 10px;
}

.check-labels {
  font-size: 1.50em;
  vertical-align: text-top!important
}

.checkbox-label {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

select {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 40px;
  border: 1px solid #ccc;
  height: 34px;
}

.order-type {
  display: inline-block;
}

.choices {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 8%;
  margin-left: 8%;
}

.nav-link {
  margin: 0;
}

#order-ul {
  margin-right: 10%;
}

label {
  font-size: 16px;
}

.total {
  font-size: 16px;
  margin: 20px 10%;
}

.form-picture {
  width: 30%;
  height: 20%;
  border-radius: 20px;
  border: 3px solid #343a40;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.order-div {
  height: 100px;
  align-content: center;
  
}

.form-control {
  width: 75%!important;
}